{% extends 'base.html' %}
{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'listings.css' %}" />
    <link rel="stylesheet" href="{% static 'add_listing.css' %}" />
{% endblock %}

{% block title %}Adauga anunt{% endblock %}


{% block content %}
    <h4 class="underlined darkish-text bold">Spre inchiriere</h4>
    <div class="filters">
    <div class="filters-actions">
        <button class="sm secondary bold">ofer camere</button>
        <span class="tip">sau</span>
        <button class="sm darkish bold">ofer apartament</button>
    </div>
    <div class="filters-inputs">
        <label for="loc">
        <span>Localitate/Oras</span>
        <input type="text" id="loc" placeholder="Ex: Iasi, Bucuresti.." />
        </label>

        <label for="zona">
        <span>Zona/Reper</span>
        <input type="text" id="zona" placeholder="Ex: Centru Vechi.." />
        </label>

        <label for="pret">
        <span>Pret (in euro)</span>
        <input type="tel" id="pret" placeholder="Ex: 320" />
        </label>

        <div class="mixt">
        <label for="camere">
            <span>Nr. camere</span>
            <input type="tel" id="camere" placeholder="Ex: 2" />
        </label>

        <label for="colegi">
            <span>Nr. colegi</span>
            <input type="tel" id="colegi" placeholder="Ex: 1" />
        </label>

        <label for="sex">
            <span>M/F/Mixt</span>
            <input type="tel" id="sex" placeholder="Ex: M" />
        </label>
        </div>

        <div class="fluid-over-grid">
        <label for="descriere">
            <span>Descriere</span>
            <textarea
            id="descriere"
            placeholder="Ex: Introdu cat mai multe detalii"
            ></textarea>
        </label>
        </div>
    </div>

    <div class="images">
        <label class="fluid-over-grid">Imagini <span class="tip">(0 incarcate)</span></label>

        <div class="file-input custom">
        <input type="file" name="img1" />
        </div>
        <div class="file-input custom">
        <input type="file" name="img2" />
        </div>
        <div class="file-input custom">
        <input type="file" name="img3" />
        </div>
        <div class="file-input custom">
        <input type="file" name="img4" />
        </div>
        <div class="file-input custom">
        <input type="file" name="img5" />
        </div>
        <div class="file-input custom">
        <input type="file" name="img6" />
        </div>
    </div>
    </div>

    <div style="margin-top:2rem;"></div>
    <div class="center">
    <button class="lg complementary bold">
        ADAUGA ANUNT
    </button>
    <p class="darkish-text agree-text">
        Prin adaugarea unui anunt esti automat de accord cu
        <a href="#" class="bold underlined">Termenii si conditiile</a>
    </p>
    </div>

    <div style="margin-top:2rem;"></div>

{% endblock %}
