{% extends 'base.html' %}
{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'listings.css' %}" />
    <style>
      .filters-actions {margin-left: 30px;}
    </style>
    <link rel="stylesheet" href="{% static 'awesomplete.css' %}" />
    <script src="{% static 'awesomplete.js' %}" defer></script>
{% endblock %}

{% block title %}Anunturi{% endblock %}


{% block content %}

<div class="filters">
    <div class="filters-inputs">
      <label for="loc">
        <span>Localitate</span>
        <input type="text" id="loc" name="localitate" placeholder="Ex: Iasi, Bucuresti.." {% if filtre.localitate %} value="{{ filtre.localitate }}" {% endif %}/>
      </label>

      <label for="zona">
        <span>Zona</span>
        <input type="text" id="zona" name="zona" placeholder="Ex: Centru Vechi.." {% if filtre.zona %} value="{{ filtre.zona }}" {% endif %}/>
      </label>
    </div>
    
    
    <div class="filters-actions">
      <button id="cam" class="sm secondary bold">caut camere</button>
      <span class="tip">sau</span>
      <button id="ap" class="sm darkish bold">caut apartament</button>
      <input id="ap_val" type="hidden" name="apartament" {% if filtre.apcam %} value="{{ filtre.apcam }}" {% else %} value="0" {% endif %}>
    </div>

    <input id="pret" type="hidden" name="pret" {% if filtre.pret %} value="{{ filtre.pret }}" {% else %} value="0" {% endif %} />

    {% if filtre.localitate %} 
      <p class="tip" id="filter-helper">Adauga localitatea (optional zona) si selecteaza 
      una din cele doua optiuni de mai sus (camera sau apartament)</p>
    {% else %}
      <p class="tip" id="filter-helper"></p>                          
    {% endif %}
    

  </div>



  <div style="margin-top:2rem;"></div>

  <div class="listings">

    {% if anunturi %}

      {% for anunt in anunturi %}
        <article class="card product" id="{{ anunt.id }}">
            <img src="/media/{{ anunt.img1 }}" />
            <img title="Adauga la favorite si arata anunturi similare cu acest anunt" class="fav" src="{% static '/icons/favorite_border.svg' %}" />
            <span title="Sorteaza incepand cu {{ anunt.pret }} euro!" class="btn complementary price"> {{ anunt.pret }} euro </span>
            <h3 title="Detalii anunt" class="title">
                {{ anunt.titlu }}
            </h3>
        </article>
      {% endfor %}
      {% else %}
        <h2>Nici un anunti disponibil momentan.</h2>
      {% endif %}
    
  </div>
  
  <div style="margin-top:2rem;"></div>
  
    <button class="greyish primary-lighten-text outlined-darkish">
      Mai mult
    </button>

  <div style="margin-top:2rem;"></div>

  <p class="tip mtop mtop btm-right">
    Filtrele se fac automat! (pe baza anunturilor adaugate la favorite)
  </p>


{% for anunt in anunturi %}
  <p>{{ anunt.titlu }}</p>
  <p>{{ anunt.zona }}</p>
  <p>{{ anunt.pret }}</p>
  <p>{{ anunt.data_postarii }}</p>
  <p>{{ anunt.localitate }}</p>
  <p>{{ anunt.id }}</p>
  <p>{{ anunt.apartament }}</p>
  <p>{{ anunt.numar_camere }}</p>
  <p>{{ anunt.numar_colegi }}</p>
  <p>{{ anunt.mfx }}</p>
  <p>{{ anunt.descriere }}</p>
  <img src="/mediaa/{{ anunt.img1 }}" />
  
{% endfor %}

<script src="{% static 'anunturi.js' %}" defer></script>

{% endblock %}
