{% extends 'base.html' %}
{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'listings.css' %}" />
{% endblock %}

{% block title %}Autentificare{% endblock %}


{% block content %}

<div class="filters">
    <h4 class="underlined darkish-text bold">Intra in cont</h4>

    <div class="filters-actions">
        <a href="{% url 'autentificare' %}" class="btn sm secondary bold">login</a>
        <span class="tip">sau</span>
        <a href="{% url 'inregistrare' %}" class="btn sm darkish bold">register</a>
    </div>

    <form action="{% url 'autentificare' %}" method="POST">
        
        {% csrf_token %}

        <label for="id_email">
            <span>Email</span>
            {{ form.email }}
        </label>

        <label for="id_password">
            <span>Parola</span>
            {{ form.password }}
        </label>

        <div style="margin-top:2rem;"></div>
        <div class="center">

        <button type="submit" class="lg complementary bold">
            Intra in cont
        </button>
    </form>

    <p class="darkish-text agree-text">
        <a href="{% url 'resetare_cont' %}" class="underlined">Ti-ai uitat parola?</a>
    </p>

</div>


{% endblock %}
