{% load static %}

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <header>
        <nav>
          <ul>
            <li class="logo"> <a href="{% url 'pagina_de_prezentare' %}"><img src="{% static 'icons/logo_white.svg' %}" /></a></li>
            <li class="menu"><img src="{% static 'icons/menu.svg' %}" /></li>
          </ul>
        </nav>
    </header>

    
    <main>
        {% block content %}
        {% endblock %}
    </main>



<footer>
    <a href="#">Politica Cookies</a>
    <a href="#">Politica de Confidentialitate</a>
    <a href="#">Termeni si Conditii</a>
    <a href="#">Intrebari frecvente</a>
    <a href="#">Contact</a>
</footer>


{% if messages %}

<link rel="stylesheet" href="{% static 'Toast.min.css' %}" />
<script src="{% static 'Toast.min.js' %}"></script>

{% for message in messages %}
    <span class="none" id="flash">{{ message }} </span>
    <span class="none" id="tag">{{ message.tags }}</span>
{% endfor %}

<script>

    document.addEventListener("DOMContentLoaded", function(event){

        let tag = document.getElementById("tag").innerText;

        if (tag == 'error'){var typ = 'danger';}
        else {var typ = tag}

        new Toast({
            message: document.getElementById("flash").innerText,
            type: typ
        });
        
    //DOM loaded    
    });
    
</script>

{% endif %}

  
</body>
</html>

