{% extends 'base.html' %}
{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'listing_details.css' %}" />
{% endblock %}

{% block title %}Detalii anunt{% endblock %}


{% block content %}
<div class="carousel fluid">
<h2 class="title">Ap. 1 camera. Iasi, Nicolina</h2>
<ul class="images">
    <li><img src="{% static 'logo_placeholder.svg' %}" alt="" /></li>
    <!-- <li><img src="./pics/2.jpg" alt="" /></li>
        <li><img src="./pics/3.jpg" alt="" /></li>
        <li><img src="./pics/4.jpg" alt="" /></li>
        <li><img src="./pics/2.jpg" alt="" /></li>
        <li><img src="./pics/3.jpg" alt="" /></li> -->
</ul>

<img id="prev" src="{% static 'icons/chevron_left.svg' %}" alt="prev" />
<img id="next" src="{% static 'icons/chevron_right.svg' %}" alt="next" />
<span class="tip mtop">Postat la 07 Iul 2019, 19:11</span>
</div>

<article class="card user fluid">
<section class="profile">
    <img src="{% static 'ca.jpg' %}" />
    <span class="name">Climente Alin</span>
    <span class="about">Inginer, M, 28 ani</span>
</section>

<section class="contact">
    <h3 class="bold">Contact</h3>
    <button class="darkish">07151321251</button>
    <button class="darkish">
    alin.climente@gmail.com
    </button>
</section>
</article>

<article class="card fluid">
<h3 class="title">Descriere</h3>
<p>
    Apartamentul este situat aproape de supermarchet, de statiile de
    autobuz. Se gaseste din pacate greu loc de parcare, dar daca ai
    bicicleta poti sa o iei in apartament.
</p>
<span class="right bold secondary-text"> Pret: 200 euro </span>
</article>

<article class="card fluid">
<h3 class="title">Facilitati</h3>
<p class="bold">
    aragaz, masina de spalat, centrala termica, aproape de supermarchet,
    loc de parcare
</p>
</article>

<article class="card fluid">
<h3 class="title">Colegi de share</h3>
<div class="chip"><img src="{% static 'ca.jpg' %}" />Climente Alin</div>
<button class="sm right complementary">+</button>
</article>

{% endblock %}
