{% extends 'base.html' %}
{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'listing_details.css' %}" />
{% endblock %}

{% block title %}Detalii anunt{% endblock %}


{% block content %}


<div class="carousel fluid">
<h2 class="title">{{ anunt.titlu }}</h2>
<ul class="images">
    <li><img src="/media/{{ anunt.img1 }}" /></li>
    <li><img src="/media/{{ anunt.img2 }}" onerror="this.remove()" /></li>
    <li><img src="/media/{{ anunt.img3 }}" onerror="this.remove()" /></li>
    <li><img src="/media/{{ anunt.img4 }}" onerror="this.remove()" /></li>
    <li><img src="/media/{{ anunt.img5 }}" onerror="this.remove()" /></li>
    <li><img src="/media/{{ anunt.img6 }}" onerror="this.remove()" /></li>
</ul>

<img id="prev" src="{% static 'icons/chevron_left.svg' %}" alt="prev" />
<img id="next" src="{% static 'icons/chevron_right.svg' %}" alt="next" />
<span class="tip mtop">Postat la {{ anunt.data_postarii| date:'j F Y' }}</span>
</div>

<article class="card user fluid">
<section class="profile">
    <img src="/media/{{ user.imagine_profil }}" />
    <span class="name">{{ user.nume }}</span>
    <span class="about">{{ user.ocupatie }}, {{ user.sex }}, {{ user.varsta }} ani</span>
</section>

<section class="contact">
    <h3 class="bold">Contact</h3>
    <button class="darkish">{{ user.telefon }}</button>
    <button class="darkish">{{ user.email }}</button>
</section>
</article>

<article class="card fluid">
<h3 class="title">Descriere</h3>
<p>{{ anunt.descriere }}</p>
<span class="right bold secondary-text"> Pret: {{ anunt.pret }} euro </span>
</article>

<article class="card fluid">
<h3 class="title">Alte detalii</h3>
<p class="bold">{{ anunt.alte_detalii }}</p>
</article>

<article class="card fluid">
<h3 class="title">Colegi de share</h3>
<div class="chip"><img src="{% static 'ca.jpg' %}" />Climente Alin</div>
<button class="sm right complementary">+</button>
</article>


<script>


var carousels = document.getElementsByClassName("images");
var carousel = carousels[0];
var images = carousel.querySelectorAll("img");

var next = document.querySelector("#next");
var prev = document.querySelector("#prev");

if (images.length < 2){
    next.style.display = "none";
    prev.style.display = "none";
    console.log("Doar o imagine pentru acest anunt.");
}

images.forEach((img, idx) => {
    if (idx !== 0) {
        img.style.display = "none";
    }else {
        img.style.display = "block";
    }
})

function getIdx(){
    for (var i=0; i<images.length; i++) {
        if (images[i].style.display === "block"){
            images[i].style.display = "none";
            var idx = i;
            break;
        }
    }
    return idx;
}

next.addEventListener("click", _ => {
    // Make the current img invisible, return the index
    var idx = getIdx();
    // Make img visible if current index is bigger than stored idx
    if (idx+1 === images.length){
        images[0].style.display = "block";
    } else {
        images[idx+1].style.display = "block";   
    }
    
}, false);


prev.addEventListener("click", _ => {
    // Make the current img invisible, return the index
    var idx = getIdx();
    // Make img visible if current index is bigger than stored idx
    if (idx === 0){
        images[images.length-1].style.display = "block";
    } else {
        images[idx-1].style.display = "block";   
    }
}, false);


</script>


{% endblock %}
