{% extends 'base.html' %}
{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'listings.css' %}" />
{% endblock %}

{% block title %}Inregistrare cont{% endblock %}


{% block content %}
<div class="filters">
    <h4 class="underlined darkish-text bold">Intra in cont</h4>
    <div class="filters-actions">
        <a href="{% url 'autentificare' %}" class="btn sm darkish bold">login</a>
        <span class="tip">sau</span>
        <a href="{% url 'inregistrare' %}" class="btn sm secondary bold">register</a>
    </div>


    <form action="{% url 'inregistrare' %}" method="POST">
        
        {% csrf_token %}

        <label for="id_email">
            <span>Email</span>
            {{ form.email }}
        </label>

        <label for="id_password">
            <span>Parola</span>
            {{ form.password }}
        </label>

        <label for="confpass">
            <span id="confinfo">Confirma parola</span>
            <input type="password" id="confpass" />
        </label>
        
        <div style="margin-top:2rem;"></div>
        <div class="center">

        <button type="submit" class="lg complementary bold">
            Adauga cont
        </button>
    </form>

    <p class="darkish-text agree-text">
        <a href="{% url 'resetare_cont' %}" class="underlined">Ti-ai uitat parola?</a>
    </p>
</div>


<script>

    document.addEventListener("DOMContentLoaded", function(event){

        let pass1 = document.getElementById("id_password");
        let pass2 = document.getElementById("confpass"); 

        pass2.addEventListener("keyup", function(e){

            if(pass1.value != pass2.value){
                document.getElementById("confinfo").innerText = "Parolele nu sunt la fel!";
            }else {
                document.getElementById("confinfo").innerText = "Parola confirmata!";
            }

    },false);
        
    //DOM loaded    
    });
    
</script>
{% endblock %}
