{% extends 'base.html' %}
{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'landing.css' %}" />
{% endblock %}

{% block title %}chirieshare.ro - Gaseste camere sau locuinte de inchiriat in zona ta!{% endblock %}


{% block content %}
<img src="{% static 'icons/landing_logo.svg' %}" />
<div class="landing-action">
  <p class="whiteish-text">
    Gaseste <strong>camere</strong> (sau locuinte)
    <strong>de inchiriat</strong> in zona ta!
  </p>
  <div class="g2">
    <a href="{% url 'autentificare' %}" class="btn outlined">Vezi anunturi</a>
    <a href="{% url 'autentificare' %}" class="btn outlined">Adauga anunt</a>
  </div>
</div>
{% endblock %}
