body {
  min-height: 100vh;
}

.agree-text {
  text-align: center;
  max-width: 320px;
  margin-top: 1rem;
}

.g2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 420px) { 
  .g2 {
    display: block;
  }
}


.none {
  display: none;
}

.toastjs-btn {
  color: var(--primary);
}